@use './fonts.scss';

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.03em;

  color: $color-text-primary;
  background-color: $color-bg-light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: $font-size-base;
  padding: 0;
}

h1 {
  font-size: $font-size-2xl;
}

ul,
ol {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  background: none;
  border: none;
}

input,
textarea,
button,
select {
  font: inherit;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: $font-weight-semibold;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  outline: none;

  &:hover {
    opacity: 0.8;
    filter: brightness(0.9);
    transform: translateY(1px);
  }

  &:active {
    opacity: 0.6;
    transform: translateY(1px);
  }
}
