.primeBannerWrapper {
  position: relative;
}

.primeBanner {
  position: relative;
  display: flex;
  padding: 0 0 0 223px;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 360px;
  margin-top: var(--gap-5xl);
  overflow: hidden;
  border-radius: var(--border-radius-4xl);
  background:
    var(--color-gradient-purple),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

.primeBannerLeft {
  z-index: 2;
}

.primeBannerTitle {
  max-width: 581px;
  margin-bottom: 16px;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-4xl);
  line-height: var(--line-height-3xl);
  color: var(--color-bg-white);
  letter-spacing: -0.03em;
}

.primeBannerDescription {
  max-width: 559px;
  margin-bottom: var(--gap-5xl);
  font-size: var(--font-size-md);
  line-height: var(--line-height-lg);
  color: var(--color-primary-border);
}

.primeBannerButton {
  width: 315px;
  height: 60px;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  background: var(--color-bg-white);
  border: none;
}

.primeBannerImage {
  position: absolute;
  bottom: 0;
  right: 223px;
  z-index: 2;
}

.primeBannerLine {
  position: absolute;
  bottom: 0;
  right: 13px;
  z-index: 1;
}

@media screen and (max-width: 1439px) and (min-width: 1024px) {
  .primeBanner {
    padding-left: 65px;
  }

  .primeBannerImage {
    right: 65px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .primeBanner {
    padding-left: 65px;
  }

  .primeBannerImage {
    right: 65px;
  }
}

@media screen and (max-width: 767px) {
  .primeBanner {
    height: fit-content;
    padding: 35px 30px;
  }

  .primeBannerTitle {
    max-width: 414px;
    font-size: var(--font-size-3xl);
  }

  .primeBannerDescription {
    max-width: 549px;
  }

  .primeBannerImage,
  .primeBannerLine {
    display: none;
  }
}
