.container {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: center;
  border-radius: 16px;
  padding: 5px;
  background: #fbfafb;
}

.item {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 8px 20px;
  border: none;
  border-radius: 11px;
  transition:
    background-color 0.16s ease-out,
    color 0.16s ease-out,
    transform 0.12s ease-out,
    box-shadow 0.12s ease-out;
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.item:hover {
  transform: translateY(-1px);
  background: #e9e8ed;
}

.item.active {
  background: #746ef9;
  color: #fbfafb;

  path {
    fill: #fbfafb;
  }
}
