.container {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: center;
  border-radius: $border-radius-lg;
  padding: 5px;
  background: $color-bg-white;
}

.item {
  display: flex;
  gap: $gap-xs;
  align-items: center;
  padding: $gap-md $gap-3xl;
  border: none;
  border-radius: $border-radius-md;
  transition:
    background-color $transition-base,
    color $transition-base,
    transform $transition-fast,
    box-shadow $transition-fast;
  white-space: nowrap;
  font-weight: $font-weight-light;
  font-size: $font-size-sm-2;
  line-height: $line-height-base;
}

.item:hover {
  transform: translateY(-1px);
  background: $color-bg-light;
}

.item.active {
  background: $color-primary;
  color: $color-bg-white;

  path {
    fill: $color-bg-white;
  }
}
