footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 9.8%;
  gap: var(--gap-4xl);
  border-top: 1px solid var(--color-accent-border);
}

.footerFirstLine {
  display: flex;
  gap: 71px;
  flex-wrap: wrap;
  justify-content: center;
}

span.footerLogo {
  letter-spacing: -0.03em;
}

.footerDescription {
  transform: translateY(-5px);
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);

  & > p {
    width: 264px;
    font-size: var(--font-size-base);
    line-height: var(--line-height-md);
    letter-spacing: -0.03em;
    color: var(--color-text-secondary);
  }
}

button.footerSupportButton {
  display: flex;
  gap: var(--gap-xl);
  align-items: center;
  padding: var(--gap-md) 5px;
  margin-right: 25px;
  height: 60px;
  flex: 1 1 fit-content;
  max-width: 539px;
  border-radius: var(--border-radius-lg);
  border-width: 1.5px;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-base);
  line-height: var(--line-height-md);
  letter-spacing: -0.03em;
}

.footerChatIcon {
  width: 44px;
  height: 44px;
  padding: var(--gap-lg);
  background: var(--color-primary);
  border-radius: var(--border-radius-sm);
}

.footerFirstLineLists {
  display: flex;
  gap: 80px;
  justify-content: center;
}

.footerList {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.footerListLabel {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-md);
  line-height: var(--line-height-lg);
}

.footerListItem {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-base);
  line-height: var(--line-height-md);
  color: var(--color-text-secondary);
  white-space: nowrap;
}

.footerSocials {
  display: flex;
  gap: var(--gap-md);
  min-width: 142px;
}

.footerSecondLine {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footerCopyright {
  margin-right: 129px;
  margin-top: auto;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  letter-spacing: -0.03em;
  color: var(--color-text-secondary);
}

.footerSecondLineLists {
  display: flex;
}

.footerServicesList {
  margin-right: 137px;
}

.footerEndBlock {
  display: flex;
  flex-direction: column;
  gap: 38px;
  margin-left: auto;
  margin-top: auto;
}

button.backToTopBtn {
  display: flex;
  gap: var(--gap-md);
  height: 60px;
  width: 427px;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-base);
  line-height: var(--line-height-md);
  letter-spacing: -0.03em;
  border: 1.5px solid var(--color-text-primary);
  border-radius: var(--border-radius-lg);
}

.footerLinks {
  display: flex;
  justify-content: space-between;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-base);
  line-height: var(--line-height-md);
  letter-spacing: -0.03em;
  text-decoration-line: underline;

  & > :nth-child(2) {
    transform: translateX(8px);
  }
}

@include desktop-md {
  .footerFirstLine {
    gap: 40px;
  }

  .footerFirstLineLists {
    gap: 20px;
  }

  .footerCopyright {
    margin-right: 60px;
  }

  .footerServicesList {
    margin-right: 36px;
  }
}

@include laptop {
  .footerFirstLine {
    gap: 10px;
  }

  button.footerSupportButton {
    margin-right: 0;
    font-size: 13px;
  }

  .footerFirstLineLists {
    gap: 10px;
  }

  .footerList * {
    font-size: 13px !important;
  }

  .footerSocials {
    min-width: unset;
  }

  .footerSocials svg {
    width: 22px;
    height: 22px;
  }

  .footerCopyright {
    margin-right: 8px;
  }

  .footerServicesList {
    margin-right: 18px;
  }

  button.backToTopBtn {
    width: 300px;
  }

  .footerLinks {
    font-size: 13px;
  }

  .footerDescription {
    gap: 5px;
  }

  .footerDescription > * {
    font-size: 16px !important;
  }

  .footerDescription > p {
    width: 200px;
    font-size: 14px;
  }
}

@include tablet {
  .footerFirstLine {
    gap: 15px;
  }

  button.footerSupportButton {
    margin-right: unset;
    width: fit-content;
    flex: unset;
  }

  .footerCopyright {
    margin-right: 0;
    order: 10;
    width: 100%;
    text-align: center;
  }

  .footerServicesList {
    margin-right: 18px;
  }

  button.backToTopBtn {
    width: 100%;
  }

  .footerLinks {
    font-size: 13px;
  }

  .footerSecondLine {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footerEndBlock {
    margin-left: 0;
  }
}

@include mobile {
  footer {
    padding: 15px;
  }

  .footerFirstLine {
    gap: 15px;
  }

  button.footerSupportButton {
    margin-right: unset;
    width: fit-content;
    flex: unset;
  }

  .footerFirstLineLists {
    gap: 20px;
    flex-wrap: wrap;

    .footerList:has(.footerSocials) .footerListLabel {
      text-align: center;
    }
  }

  .footerCopyright {
    margin-right: 0;
    order: 10;
    width: 100%;
    text-align: center;
  }

  .footerServicesList {
    margin-right: 18px;
  }

  button.backToTopBtn {
    width: 100%;
  }

  .footerLinks {
    font-size: 13px;
  }

  .footerSecondLine {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footerEndBlock {
    margin-left: 0;
    gap: 10px;
  }
}
