.button {
  border-radius: $border-radius-3xl;
  font-weight: $font-weight-medium;
  font-size: $font-size-md;
  line-height: $line-height-md;
  transition:
    background-color $transition-base,
    color $transition-base,
    transform $transition-fast,
    box-shadow $transition-fast,
    outline $transition-fast;
}

.button:disabled {
  background: $color-accent-disabled;
}

.button:hover {
  transform: translateY(-1px);
}

.primary {
  background: $color-primary;
  color: $color-bg-white;

  &:hover {
    background: $color-primary-light;
  }
}

.secondary {
  background: $color-primary-border;
  border: 2px solid $color-primary;
}
