.button {
  border-radius: var(--border-radius-3xl);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  transition:
    background-color var(--transition-base),
    color var(--transition-base),
    transform var(--transition-fast),
    box-shadow var(--transition-fast),
    outline var(--transition-fast);
}

.button:disabled {
  background: var(--color-accent-disabled);
}

.button:hover {
  transform: translateY(-1px);
}

.primary {
  background: var(--color-primary);
  color: var(--color-bg-white);

  &:hover {
    background: var(--color-primary-light);
  }
}

.secondary {
  background: var(--color-primary-border);
  border: 2px solid var(--color-primary);
}
