.lightningBlock {
  position: relative;
  padding: 28px 0 0 28px;
  height: 340px;
  width: 83%;
  background: var(--color-gradient-overlay), var(--color-gradient-purple);
  border-radius: var(--border-radius-3xl);
}

.lightningTitle {
  max-width: 326px;
  margin: var(--gap-3xl) 0 var(--gap-md);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-3xl);
  line-height: var(--line-height-2xl);
  color: var(--color-bg-white);
}

.lightningDescription {
  max-width: 326px;
  font-size: var(--font-size-md);
  line-height: var(--line-height-lg);
  color: var(--color-primary-border);
  position: relative;
  z-index: 10;
}

.lightningBg {
  position: absolute;
  bottom: 0;
  right: 0;
}

@include tablet {
  .lightningBlock {
    grid-column: 1 / -1;
    width: 100%;
    height: 250px;
  }

  .lightningTitle {
    max-width: 100%;
  }

  .lightningDescription {
    max-width: 436px;
  }
}

@include mobile {
  .lightningBlock {
    grid-column: 1 / -1;
    width: 100%;
    height: fit-content;
    padding-bottom: 28px;
  }

  .lightningTitle {
    max-width: 50%;
  }

  .lightningDescription {
    max-width: 50%;
  }
}
