.lightningBlock {
  position: relative;
  padding: 28px 0 0 28px;
  height: 340px;
  width: 83%;
  background:
    linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)),
    linear-gradient(180deg, #645df8 0%, #b3b1f2 100%);
  border-radius: 30px;
}

.lightningTitle {
  max-width: 326px;
  margin: 20px 0 8px;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  color: #fbfafb;
}

.lightningDescription {
  max-width: 326px;
  font-size: 18px;
  line-height: 24px;
  color: #dbdafe;
  position: relative;
  z-index: 10;
}

.lightningBg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 208px;
  height: 267px;
  background: url('../../assets/lightning.png');
  background-size: cover;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .lightningBlock {
    grid-column: 1 / -1;
    width: 100%;
    height: 250px;
  }

  .lightningTitle {
    max-width: 100%;
  }

  .lightningDescription {
    max-width: 436px;
  }
}

@media screen and (max-width: 767px) {
  .lightningBlock {
    grid-column: 1 / -1;
    width: 100%;
    height: fit-content;
    padding-bottom: 28px;
  }

  .lightningTitle {
    max-width: 50%;
  }

  .lightningDescription {
    max-width: 50%;
  }
}
