.header {
  position: fixed;
  top: 28px;
  width: calc(1320px - 32px);
  z-index: 11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 67px;
  padding: 0 56px;
  background: #ffffff80;
  border-radius: var(--border-radius-2xl);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-sm-2);
  line-height: var(--line-height-sm-2);
  backdrop-filter: blur(20px);
}

.navigation {
  display: flex;
  gap: var(--gap-6xl);
}

@include laptop {
  .header {
    width: calc(1000px - 32px);
    padding: 0 40px;
  }
}

@include tablet {
  .header {
    width: calc(100% - 72px);
    padding: 0 24px;
    flex-wrap: wrap;
    height: auto;
    min-height: 67px;
  }

  .navigation {
    display: none;
  }
}

@include mobile {
  .header {
    height: auto;
    width: calc(100% - 43px);
    padding: 16px;
    gap: 16px;
  }

  .navigation {
    display: none;
  }
}
