.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 360px;
  width: 100%;
  padding: 0 113px;
  background: $color-bg-white;
  border-radius: $border-radius-4xl;
  overflow: hidden;

  > * {
    z-index: 2;
  }
}

.bannerTitle {
  margin-bottom: 16px;
  font-weight: $font-weight-medium;
  font-size: $font-size-3xl;
  line-height: $line-height-2xl;
  letter-spacing: -0.03em;
}

.bannerDescription,
.bannerList {
  font-weight: $font-weight-light;
  font-size: $font-size-lg;
  line-height: $line-height-xl;
  color: $color-text-secondary;
  letter-spacing: -0.03em;
}

.bannerList {
  display: flex;
  flex-direction: column;
  margin-top: $gap-3xl;
  gap: $gap-3xl;
  padding-top: 3px;
}

.bannerListItem {
  display: flex;
  gap: $gap-3xl;
}

.bannerTags {
  display: flex;
  gap: $gap-lg;
  flex-wrap: wrap;
  margin-top: 34px;

  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 34px;
    padding: 0 $gap-3xl;
    background: $color-primary-border;
    border-radius: $border-radius-xl;
    font-size: $font-size-sm-2;
    font-weight: $font-weight-medium;
    line-height: $line-height-base;
  }
}

@include tablet {
  .banner {
    height: fit-content;
    padding: 35px 30px;
  }
}

@include mobile {
  .banner {
    height: fit-content;
    padding: 35px 30px;
  }
}
