.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 360px;
  width: 100%;
  padding: 0 113px;
  background: var(--color-bg-white);
  border-radius: var(--border-radius-4xl);
  overflow: hidden;

  > * {
    z-index: 2;
  }
}

.bannerTitle {
  margin-bottom: 16px;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-3xl);
  line-height: var(--line-height-2xl);
  letter-spacing: -0.03em;
}

.bannerDescription,
.bannerList {
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-lg);
  line-height: var(--line-height-xl);
  color: var(--color-text-secondary);
  letter-spacing: -0.03em;
}

.bannerList {
  display: flex;
  flex-direction: column;
  margin-top: var(--gap-3xl);
  gap: var(--gap-3xl);
  padding-top: 3px;
}

.bannerListItem {
  display: flex;
  gap: var(--gap-3xl);
}

.bannerTags {
  display: flex;
  gap: var(--gap-lg);
  flex-wrap: wrap;
  margin-top: 34px;

  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 34px;
    padding: 0 var(--gap-3xl);
    background: var(--color-primary-border);
    border-radius: var(--border-radius-xl);
    font-size: var(--font-size-sm-2);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-base);
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .banner {
    height: fit-content;
    padding: 35px 30px;
  }
}

@media screen and (max-width: 767px) {
  .banner {
    height: fit-content;
    padding: 35px 30px;
  }
}
