.hero {
  position: relative;
  grid-column: 1 / -1;
  height: 569px;
  padding-top: 8px;
  background-color: var(--color-bg-white);
  border-radius: var(--border-radius-4xl);
}

.descriptionBlock {
  margin-left: 72px;
  margin-bottom: 50px;
  margin-top: 121px;
}

.title {
  margin-bottom: 16px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-6xl);
  line-height: var(--line-height-4xl);
  letter-spacing: -0.03em;
}

.description {
  margin-bottom: var(--gap-4xl);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-lg);
  line-height: var(--line-height-xl);
  color: var(--color-text-secondary);

  .strong {
    font-weight: 700;
  }
}

.button {
  width: 300px;
  height: 60px;
}

.options {
  position: relative;
  width: 684px;
  display: flex;
  gap: 48px;
}

.option {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option:nth-child(2) {
  margin-left: 70px;
}

.optionsLine {
  position: absolute;
  top: 22px;
  left: 0;
  width: 100%;
  height: 0;
  border: 2px solid var(--color-primary-border);
}

.optionIconWrapper {
  width: fit-content;
  border-radius: var(--border-radius-3xl);
  border: 1px solid var(--color-primary-border);
}

.optionIcon {
  position: relative;
  padding: var(--gap-md);
  width: fit-content;
  border-radius: var(--border-radius-3xl);
  border: 2px solid var(--color-bg-white);
  background: var(--color-gradient-primary);
}

.optionDescription {
  min-width: 178px;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-base);
  line-height: var(--line-height-md);
  color: var(--color-text-secondary);
  white-space: nowrap;
}

.heroBg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 620px;
  height: 396px;
}

@include laptop {
  .hero {
    height: 520px;
  }

  .title {
    font-size: var(--font-size-5xl);
    line-height: 44px;
  }

  .description {
    font-size: var(--font-size-md);
    line-height: var(--line-height-lg);
  }

  .options {
    width: 600px;
    gap: 30px;
  }

  .option:nth-child(2) {
    margin-left: 40px;
  }

  .optionDescription {
    min-width: unset;
    font-size: 13px;
  }

  .heroBg {
    width: 480px;
    height: 300px;
  }
}

@include tablet {
  .hero {
    height: auto;
    min-height: 500px;
    padding-bottom: 40px;
  }

  .descriptionBlock {
    margin-left: 40px;
    margin-bottom: 40px;
    max-width: 500px;
  }

  .title {
    font-size: 36px;
    line-height: 40px;
  }

  .description {
    font-size: var(--font-size-base);
    line-height: 22px;
  }

  .button {
    width: 260px;
    height: 54px;
  }

  .options {
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }

  .option:nth-child(2) {
    margin-left: 0;
  }

  .option {
    align-items: center;
  }

  .optionsLine {
    width: 100%;
  }

  .heroBg {
    display: none;
  }
}

@include mobile {
  .hero {
    width: 100%;
    height: auto;
    min-height: auto;
    padding: 16px 10px 30px;
    border-radius: var(--border-radius-2xl);
  }

  .descriptionBlock {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 30px;
  }

  .title {
    font-size: var(--font-size-3xl);
    line-height: var(--line-height-2xl);
    margin-bottom: var(--gap-xl);
  }

  .description {
    font-size: var(--font-size-sm-2);
    line-height: var(--line-height-md);
    margin-bottom: var(--gap-3xl);
  }

  .button {
    width: 100%;
    height: 48px;
  }

  .options {
    width: 100%;
    gap: 20px;
  }

  .option {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .option:nth-child(2) {
    margin-left: 0;
  }

  .optionsLine {
    width: 100%;
  }

  .optionDescription {
    min-width: auto;
    white-space: normal;
  }

  .heroBg {
    display: none;
  }
}
