.serviceTitle {
  margin-bottom: 16px;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-6xl);
  line-height: var(--line-height-4xl);
}

.serviceDescription {
  margin-bottom: 16px;
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-md);
  line-height: var(--line-height-lg);
  text-align: center;
  color: var(--color-text-secondary);
}

.tariffsSwitcher {
  margin-bottom: 35px;
}

.tariffsContainer {
  display: flex;
  gap: 20px;
  align-items: end;
  overflow-y: hidden;
}

.tarrifsButton {
  height: 60px;
  width: 426px;
  margin-top: 40px;
}

@media screen and (max-width: 1439px) and (min-width: 1024px) {
  .tariffsContainer {
    max-width: 1000px;
    overflow-x: scroll;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .tariffsContainer {
    max-width: 100%;
    overflow-x: scroll;
  }
}

@media screen and (max-width: 767px) {
  .tariffsContainer {
    max-width: 100%;
    overflow-x: scroll;
  }

  .tarrifsButton {
    width: 80%;
  }
}
