.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: $color-bg-white;
  border-radius: 40px;

  input,
  textarea,
  .formButton,
  .formLine {
    width: 93.59%;
  }

  input,
  textarea {
    padding: 17px 28px;
    border: 1px solid $color-text-secondary;
    border-radius: $border-radius-lg;

    &::placeholder {
      font-size: $font-size-base;
      line-height: $line-height-md;
      letter-spacing: -0.03em;
      color: $color-text-secondary;
    }
  }
}

.formTitle {
  margin-top: 40px;
  margin-bottom: 16px;
  font-weight: $font-weight-semibold;
  font-size: $font-size-4xl;
  line-height: $line-height-3xl;
  letter-spacing: -0.03em;
}

.formDescription {
  margin-bottom: 28px;
  font-size: $font-size-md;
  line-height: $line-height-lg;
  color: $color-text-secondary;
}

.emailInput {
  margin-bottom: 16px;
}

.questionTextarea {
  min-height: 200px;
  margin-bottom: 28px;
}

.formButton {
  height: 60px;
  margin-bottom: 40px;
}

.formLine {
  height: 0px;
  margin-bottom: 40px;
  border: 1px solid $color-bg-light;
}

.telegramText {
  margin-bottom: 16px;
  font-size: $font-size-md;
  line-height: $line-height-lg;
  letter-spacing: -0.03em;
  color: $color-text-secondary;
}

.telegramTextLink {
  display: flex;
  gap: $gap-3xl;
  margin-bottom: 44px;
  padding: $gap-md $gap-3xl $gap-md $gap-md;
  justify-content: flex-start;
  align-items: center;
  border-radius: $border-radius-lg;
  background: $color-bg-input;
  font-weight: $font-weight-medium;
  font-size: $font-size-md;
  line-height: $line-height-md;
  letter-spacing: -0.03em;
}
