.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #FBFAFB;
  border-radius: 40px;

  input, textarea, .formButton, .formLine {
    width: 93.59%;
  }

  input, textarea {
    padding: 17px 28px;
    border: 1px solid #646464;
    border-radius: 16px;

    &::placeholder {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.03em;
      color: #646464;
    }
  }
}

.formTitle {
  margin-top: 40px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.03em;
}

.formDescription {
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 24px;
  color: #646464;
}

.emailInput {
  margin-bottom: 16px;
}

.questionTextarea {
  min-height: 200px;
  margin-bottom: 28px;
}

.formButton {
  height: 60px;
  margin-bottom: 40px;
}

.formLine {
  height: 0px;
  margin-bottom: 40px;
  border: 1px solid #E9E8ED;
}

.telegramText {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #646464;
}

.telegramTextLink {
  display: flex;
  gap: 20px;
  margin-bottom: 44px;
  padding: 8px 20px 8px 8px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 16px;
  background: #E9E8ED;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.03em;
}
