.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--color-bg-white);
  border-radius: 40px;

  input,
  textarea,
  .formButton,
  .formLine {
    width: 93.59%;
  }

  input,
  textarea {
    padding: 17px 28px;
    border: 1px solid var(--color-text-secondary);
    border-radius: var(--border-radius-lg);

    &::placeholder {
      font-size: var(--font-size-base);
      line-height: var(--line-height-md);
      letter-spacing: -0.03em;
      color: var(--color-text-secondary);
    }
  }
}

.formTitle {
  margin-top: 40px;
  margin-bottom: 16px;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-4xl);
  line-height: var(--line-height-3xl);
  letter-spacing: -0.03em;
}

.formDescription {
  margin-bottom: 28px;
  font-size: var(--font-size-md);
  line-height: var(--line-height-lg);
  color: var(--color-text-secondary);
}

.emailInput {
  margin-bottom: 16px;
}

.questionTextarea {
  min-height: 200px;
  margin-bottom: 28px;
}

.formButton {
  height: 60px;
  margin-bottom: 40px;
}

.formLine {
  height: 0px;
  margin-bottom: 40px;
  border: 1px solid var(--color-bg-light);
}

.telegramText {
  margin-bottom: 16px;
  font-size: var(--font-size-md);
  line-height: var(--line-height-lg);
  letter-spacing: -0.03em;
  color: var(--color-text-secondary);
}

.telegramTextLink {
  display: flex;
  gap: var(--gap-3xl);
  margin-bottom: 44px;
  padding: var(--gap-md) var(--gap-3xl) var(--gap-md) var(--gap-md);
  justify-content: flex-start;
  align-items: center;
  border-radius: var(--border-radius-lg);
  background: var(--color-bg-input);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  letter-spacing: -0.03em;
}
