.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 140px;
}

section {
  width: 1320px;
}

.heroSection {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.hero {
  position: relative;
  grid-column: 1 / -1;
  height: 569px;
  padding-top: 8px;
  background-color: #FBFAFB;
  border-radius: 36px;
}

.header {
  position: fixed;
  width: calc(1320px - 32px);
  z-index: 11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 67px;
  padding: 0 56px;
  margin-left: 16px;
  background: #FFFFFF80;
  border-radius: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  backdrop-filter: blur(20px)
}

.navigation {
  display: flex;
  gap: 40px;
}

.descriptionBlock {
  margin-left: 72px;
  margin-bottom: 50px;
  margin-top: 121px;
}

.title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.03em;
}

.description {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #646464;

  .strong {
    font-weight: 700;
  }
}

.button {
  width: 300px;
  height: 60px;
}

.options {
  position: relative;
  width: 684px;
  display: flex;
  gap: 48px;
}

.option {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option:nth-child(2) {
  margin-left: 70px;
}

.optionsLine {
  position: absolute;
  top: 22px;
  left: 0;
  width: 100%;
  height: 0;
  border: 2px solid #DBDAFE;
}

.optionIconWrapper {
  width: fit-content;
  border-radius: 30px;
  border: 1px solid #DBDAFE;
}

.optionIcon {
  position: relative;
  padding: 8px;
  width: fit-content;
  border-radius: 30px;
  border: 2px solid #FBFAFB;
  background: linear-gradient(131.58deg, #DEDDFF 12.71%, #B3B1F4 86.1%);
}

.optionDescription {
  min-width: 178px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #646464;
  white-space: nowrap;
}

.heroBg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 620px;
  height: 396px;
  background: url('./assets/hero-bg.png');
  background-size: cover;
}

.lightningBlock {
  position: relative;
  padding: 28px 0 0 28px;
  height: 340px;
  width: 83%;
  background:
    linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)),
    linear-gradient(180deg, #645DF8 0%, #B3B1F2 100%);
  border-radius: 30px;
}

.lightningTitle {
  max-width: 326px;
  margin: 20px 0 8px;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  color: #FBFAFB;
}

.lightningDescription {
  max-width: 326px;
  font-size: 18px;
  line-height: 24px;
  color: #DBDAFE;
  position: relative;
  z-index: 10;
}

.lightningBg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 208px;
  height: 267px;
  background: url('./assets/lightning.png');
  background-size: cover;
}

.speedBlock {
  position: relative;
  padding: 28px 0 0 28px;
  height: 340px;
  width: 117%;
  transform: translateX(-112px);
  background: #FBFAFB;
  border-radius: 30px;
  overflow: hidden;
}

.speedTitle {
  max-width: 326px;
  margin: 20px 0 8px;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
}

.speedDescription {
  position: relative;
  z-index: 10;
  max-width: 237px;
  font-size: 18px;
  line-height: 24px;
}

.speedBg {
  position: absolute;
  width: 394px;
  height: 394px;
  top: 54px;
  right: -4px;
  background: url('./assets/speed.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.serviceSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serviceTitle {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 48px;
  line-height: 52px;
}

.serviceDescription {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #646464;
}

.tariffsSwitcher {
  margin-bottom: 35px;
}

.tariffsContainer {
  display: flex;
  gap: 20px;
  align-items: end;
  overflow-y: hidden;
}

.tarrifsButton {
  height: 60px;
  width: 426px;
  margin-top: 40px;
}

.bannersSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 360px;
  width: 100%;
  padding: 0 113px;
  background: #FBFAFB;
  border-radius: 36px;
  overflow: hidden;

  > * {
    z-index: 2;
  }

  &::after {
    content: '';
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat !important;
    z-index: 1;
  }

  &:nth-child(1)::after {
    top: -218px;
    right: -54px;
    width: 665.494873046875px;
    height: 618.5390625px;
    background: url('./assets/banner1.svg');
  }

  &:nth-child(2)::after {
    top: -227px;
    right: -67px;
    width: 702px;
    height: 697px;
    background: url('./assets/banner2.svg');
  }

  &:nth-child(3)::after {
    top: -213px;
    right: -97px;
    width: 702px;
    height: 697px;
    background: url('./assets/banner3.svg');
  }

  &:nth-child(4)::after {
    top: -229px;
    right: -11px;
    width: 721px;
    height: 697px;
    background: url('./assets/banner4.svg');
  }


  &:nth-child(1) .bannerDescription,
  &:nth-child(2) .bannerDescription {
    max-width: 691px;    
  }
}

.bannerTitle {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.03em;
}

.bannerDescription, .bannerList {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #646464;
  letter-spacing: -0.03em;
}

.bannerList {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
  padding-top: 3px;
}

.bannerListItem {
  display: flex;
  gap: 20px;
}

.bannerTags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 34px;

  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 34px;
    padding: 0 20px;
    background: #DBDAFE;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }
}

.primeBannerWrapper {
  position: relative;
}

.primeBanner {
  position: relative;
  display: flex;
  padding: 0 0 0 223px;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 360px;
  margin-top: 32px;
  overflow: hidden;
  border-radius: 36px;
  background:
    linear-gradient(180deg, #645DF8 0%, #B3B1F2 100%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}


.primeBannerLeft {
  z-index: 2;
}

.primeBannerTitle {
  max-width: 581px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  color: #FBFAFB;
  letter-spacing: -0.03em;
}

.primeBannerDescription {
  max-width: 559px;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 24px;
  color: #DBDAFE;
}

.primeBannerButton {
  width: 315px;
  height: 60px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  background: #FBFAFB;
  border: none;
}

.primeBannerImage {
  position: absolute;
  bottom: 0;
  right: 223px;
  width: 154px;
  height: 392px;
  z-index: 2;
}

.primeBannerLine {
  position: absolute;
  bottom: 0;
  right: 13px;
  z-index: 1;
}

.formSection {
  width: 100%;
  max-width: 874px;
}

@media screen and (max-width: 1439px) and (min-width: 1024px) {
  section {
    width: 1000px;
  }

  .hero {
    height: 520px;
  }

  .header {
    width: calc(1000px - 32px);
    padding: 0 40px;
  }
  
  .title {
    font-size: 40px;
    line-height: 44px;
  }
  
  .description {
    font-size: 18px;
    line-height: 24px;
  }
  
  .options {
    width: 600px;
    gap: 30px;
  }
  
  .option:nth-child(2) {
    margin-left: 40px;
  }

  .optionDescription {
    min-width: unset;
    font-size: 13px;
  }

  .heroBg {
    width: 480px;
    height: 300px;
  }

  .speedBlock {
    transform: translateX(-82px);
  }

  .speedBg {
    right: -75px;
  }

  .tariffsContainer {
    max-width: 1000px;
    overflow-x: scroll;
  }

  .banner {
    &:nth-child(1)::after {
      top: -223px;
      right: -144px;
      width: 577.494873px;
    }

    &:nth-child(2)::after {
      top: -223px;
      right: -169px;
    }

    &:nth-child(3)::after {
      top: -223px;
      right: -158px;
    }

    &:nth-child(4)::after {
      top: -153px;
      right: -168px;
      background-size: 109%;
      opacity: 0.6;
    }
  }

  .primeBanner {
    padding-left: 65px;
  }

  .primeBannerImage {
    right: 65px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .container {
    margin-top: 16px;
  }
  
  section {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero {
    height: auto;
    min-height: 500px;
    padding-bottom: 40px;
  }
  
  .header {
    width: calc(100% - 72px);
    padding: 0 24px;
    flex-wrap: wrap;
    height: auto;
    min-height: 67px;
  }
  
  .navigation {
    display: none;
  }
  
  .descriptionBlock {
    margin-left: 40px;
    margin-bottom: 40px;
    max-width: 500px;
  }
  
  .title {
    font-size: 36px;
    line-height: 40px;
  }
  
  .description {
    font-size: 16px;
    line-height: 22px;
  }
  
  .button {
    width: 260px;
    height: 54px;
  }
  
  .options {
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  
  .option:nth-child(2) {
    margin-left: 0;
  }
  
  .option {
    align-items: center;
  }

  .optionsLine {
    width: 100%;
  }
  
  .heroBg {
    display: none;
  }

  .lightningBlock, .speedBlock {
    grid-column: 1 / -1;
    width: 100%;
    height: 250px;
  }

  .speedBlock {
    transform: none;
  }

  .speedBg {
    top: -9px;
  }

  .lightningTitle, .speedTitle {
    max-width: 100%;
  }

  .lightningDescription {
    max-width: 436px;
  }

  .speedDescription {
    max-width: 358px;
  }

  .tariffsContainer {
    max-width: 100%;
    overflow-x: scroll;
  }

  .banner {
    height: fit-content;
    padding: 35px 30px;

    &:nth-child(1)::after {
      top: -223px;
      right: -144px;
      width: 577.494873px;
      opacity: 0.5;
    }

    &:nth-child(2)::after {
      top: -108px;
      right: -307px;
      background-size: 85%;
      opacity: 0.7;
    }

    &:nth-child(3)::after {
      top: -151px;
      right: -328px;
      background-size: 76%;
      opacity: 0.4;
    }

    &:nth-child(4)::after {
      display: none;
    }
  }
  .primeBanner {
    padding-left: 65px;
  }

  .primeBannerImage {
    right: 65px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    margin-top: 12px;
    padding: 0 1px;
  }

  section {
    width: 100%;
  }

  .hero {
    width: 100%;
    height: auto;
    min-height: auto;
    padding: 16px 10px 30px;
    border-radius: 24px;
  }
  
  .header {
    height: auto;
    width: calc(100% - 43px);
    padding: 16px;
    gap: 16px;
  }
  
  .navigation {
    display: none;
  }
  
  .descriptionBlock {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 30px;
  }
  
  .title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 12px;
  }
  
  .description {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  
  .button {
    width: 100%;
    height: 48px;
  }
  
  .options {
    width: 100%;
    gap: 20px;
  }
  
  .option {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  
  .option:nth-child(2) {
    margin-left: 0;
  }
  
  .optionsLine {
    width: 100%;
  }
  
  .optionDescription {
    min-width: auto;
    white-space: normal;
  }
  
  .heroBg {
    display: none;
  }

  .lightningBlock {
    grid-column: 1 / -1;
    width: 100%;
    height: fit-content;
    padding-bottom: 28px;
  }

  .lightningTitle {
    max-width: 50%;
  }

  .lightningDescription {
    max-width: 50%;
  }

  .speedBlock {
    grid-column: 1 / -1;
    width: 100%;
    height: fit-content;
    padding-bottom: 28px;
    transform: none;
  }

  .speedTitle {
    max-width: 50%;
  }

  .speedDescription {
    max-width: 47%;
  }

  .speedBg {
    width: 271px;
    height: 212px;
    top: unset;
    right: 0;
    bottom: 0;
    background-size: cover;
  }

  .tariffsContainer {
    max-width: 100%;
    overflow-x: scroll;
  }
  
  .tarrifsButton {
    width: 80%;
  }

  .banner, .primeBanner {
    height: fit-content;
    padding: 35px 30px;
  }

  .banner {
    &:nth-child(1)::after {
      top: -223px;
      right: -144px;
      width: 577.494873px;
      opacity: 0.3;
    }

    &:nth-child(2)::after, &:nth-child(4)::after {
      display: none;
    }

    &:nth-child(3)::after {
      top: -124px;
      right: -346px;
      background-size: 73%;
      opacity: 0.3;
    }
  }

  .primeBannerTitle {
    max-width: 414px;
    font-size: 28px;
  }

  .primeBannerDescription {
    max-width: 549px;
  }
  .primeBannerImage, .primeBannerLine {
    display: none;
  }

  .faq {
    padding: 30px 16px;
  }
}
