.speedBlock {
  position: relative;
  padding: 28px 0 0 28px;
  height: 340px;
  width: 117%;
  transform: translateX(-112px);
  background: var(--color-bg-white);
  border-radius: var(--border-radius-3xl);
  overflow: hidden;
}

.speedTitle {
  max-width: 326px;
  margin: var(--gap-3xl) 0 var(--gap-lg);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-3xl);
  line-height: var(--line-height-2xl);
}

.speedDescription {
  position: relative;
  z-index: 10;
  max-width: 237px;
  font-size: var(--font-size-md);
  line-height: var(--line-height-lg);
}

.speedBg {
  position: absolute;
  width: 394px;
  height: 394px;
  top: 54px;
  right: -4px;
  background: url('../../assets/speed.png');
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1439px) and (min-width: 1024px) {
  .speedBlock {
    transform: translateX(-82px);
  }

  .speedBg {
    right: -75px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .speedBlock {
    grid-column: 1 / -1;
    width: 100%;
    height: 250px;
  }

  .speedBlock {
    transform: none;
  }

  .speedBg {
    top: -9px;
  }

  .speedTitle {
    max-width: 100%;
  }

  .speedDescription {
    max-width: 358px;
  }
}

@media screen and (max-width: 767px) {
  .speedBlock {
    grid-column: 1 / -1;
    width: 100%;
    height: fit-content;
    padding-bottom: 28px;
    transform: none;
  }

  .speedTitle {
    max-width: 50%;
  }

  .speedDescription {
    max-width: 47%;
  }

  .speedBg {
    width: 271px;
    height: 212px;
    top: unset;
    right: 0;
    bottom: 0;
    background-size: cover;
  }
}
